    * {
        box-sizing:border-box;
        margin: 0;
    }

    @font-face {
        font-family: Dog;
        src: url("./assets/Cryptopups-Regular.ttf");
    }

    home{
        height:1200px;
        width: 500px;
    }

    body{
        font-family: Dog;
        overflow: scroll;
        overflow-y:hidden;
        overflow-x: hidden;
        background-image: url("./assets/buttons/bg1.png");
    }

    .nav-container{
        position: absolute;
        height: 114px;
        background: url("./assets/buttons/bg1.png");
        background-color: #653500;
        z-index: 1;
        width: 100%;
    }

    .wrapper{
        left: 0px;
        top: 0px;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 72px;
    }

    nav ul{
        display: flex;
    }

    nav .logo{
        position: absolute;
        width: 144px;
        height: 45px;
        left: 20px;
        top: 15px;
    }

    .nav-items{
        position: absolute;
        top: 40px;
        right: 50px;
    }

    .nav-items li{
        list-style: none;
        margin-right: 50px;
    }

    .nav-items li:nth-last-of-type(1){
        margin: 0;
    }

    .home{
        position: absolute;
        display: block;
        align-items: center;
        text-align:center;
        font-size: 100px;
        color: #E4A903;
        width: 100%;
        height: 100%;
        top: 110px;
        justify-content: center;
    }

    .main-content{
        width: 100%;
        height: 90%;
        position: absolute;
        align-items: center;
        text-align: center;
        justify-content: center;
        top: 115px;
    }

    .main-content-li

    .secondheader{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        top:20px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .secondheader li{
        list-style: none;
    }

    .stakeAllbtn{
        text-align: center;
        width: 128px;
        height: 40px;
        margin: 0 50px;
    }

    .sortbtn{
        background-color: #E4A903;
        border: none;
        border-radius: 5px;
        color: white;
        text-align: center;
        width: 128px;
        height: 40px;
        margin: 0 80px;
        font-family: Dog;
        font-size: 14px;
        font-weight: 500;
    }

    .filterbtn{
        position: absolute;
        top:20px;
        width: 128px;
        height: 40px;
        float: right;
    }

    .collectonsbtn{
        display: table-cell; vertical-align: middle;
        background: rgba(27,27,27,0.5);
        border: 3px solid #E4A903;
        color: #E4A903;
        width: 98%;
        height:80px;
        font-family:Dog;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        display: table-cell; vertical-align: middle;
    }

    .collectonsbtn:hover{
        transition-duration: 0.5s;
        border: 1px solid rgba(255, 255, 255, 1);
        transform: scale(0.9,0.9);
    }


    .content_wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .maindiv{
        height:95%;
        width: 75%;
        top: 220px;
        position: absolute;
        border: transparent;
        font: 16px/26px;
        display: none;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
    }

    #toast {
        position: fixed;
        top: 120px;
        right: 0px;
        background-size: 25% 45%;
        border-radius: 10px;
        background-color: #000000;
        color: #fff9f9;
        padding: 16px;
        z-index: 9;
    }

    #walletlist {
        position: relative;
        width: 300px;
        height: 250px;
        border-radius: 8px;
        white-space: nowrap;
        background-color: white;
        box-shadow: 8px 8px 16px 0px #000000;
        padding: 16px;
        text-shadow: 1px 1px 2px #c0c0c0;
        top: 100px;
        display: inline-block;
    }

    .itemwrapper {
        background-image: url("./assets/buttons/template1.png");
        width: 310px;
        height: 340px;
        align-items: center;
        align-content: center;
        font: 16px/26px Georgia, Garamond, Serif;
        display: block;
        padding: 60px 2px;
    }

    .tablecontainer {
        display: block;
        display: inline-block;
        padding: 5px;
        margin-left: 3px;
        width: 310px;
        height: 362px;
        text-align: center;
        font-size: 20px;
    }

    .close {
        position: absolute;
        font-size: 24px;
        font-weight: 900;
        color:#2596be;
        background-color: transparent;
        border: none;
        cursor: pointer;
        right: 5px;
        top: 1px;
    }

    .nftimg {
        width: 140px;
        height: auto;
        padding: 10px;
    }

    .packimg {
        width: 230px;
        height: auto;
        padding: 10px;
    }

    .textcontainer{
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:80px;
    }

    .textstyle {
        color: #E4A903;
        font-family: Dog;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
    }

    .ratesText {
        margin-top: 20px;
        font-family: Dog;
        background-image: url("./assets/buttons/rates\ \(1\).png");
        height: 52px;
        width: 200px;
        color: #563209;
        margin-left: 55px;
        text-align: center;
    }

    .ratediv {
        font-family: Dog;
        background-image: url("./assets/buttons/rates\ \(1\).png");
        width: 220px;
        height: 57px;
        margin-left: 40px;
    }

    .wcw {
    margin-top: 10px;
    width: 100%;
    }

    .wcw:hover{
        transition-duration: 0.5s;
        transform: scale(1.1,1.1);
    }

    .anchor {
        margin-top: 10px;
        width: 100%;
    }

    .anchor:hover{
        transition-duration: 0.5s;
        transform: scale(1.1,1.1);
    }

    .scroll {
        overflow-y: scroll;
        height: 120px;
        width: 300px;
        margin: 10px 5px; padding: 5px;
        text-align: justify;
    }

    .topbar {
        width: 100%;
        height: 22px;
    }

    .bar {
        width: 100%;
        height: 45px;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    .shopbtn:hover{
        background-image: url("assets/buttons/shop_1_hover.png");
    }


    .returnbtn{
        margin-left: 350px;
        margin-top: 20px;
    }

    .returnbtn:hover{
        background-image: url("assets/buttons/back_hover.png");
    }

    .stkbtn{
        margin-top: 10px;
        width: 110px;
        height: 70px;
        color: white;
        border-radius: 5px;
    }

    .stkbtn:hover{
        transition-duration: 0.5s;
    }

    .levelbtn{
        width: 120px;
        height: 100%;
        background-color: #F9BB0C;
        color: black;
        border-radius: 5px;
        font-family: Dog;
        font-size: 16px;
        font-weight: bold;
        margin-right: 2px;
        margin-left: 5px;
        text-transform: uppercase;
    }

    .stakeall_btn{
        background:url("./assets/buttons/stakeall_1.png");
        width: 100px;
        height: 55px;
        border-radius: 5px;
        border: none;
        z-index: 2;
    }

    .stakeall_btn:hover{
        background-image: url("./assets/buttons/stakeall_hover_1.png");
    }

    .barbtn{
        background: none;
        width: 120px;
        height: 50px;
        color: black;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 2;
    }

    .levelbtn:hover{
        transition-duration: 0.5s;
        transform: scale(0.9,0.9);
    }

    .barbtn:hover{
        transition-duration: 0.5s;
        transform: scale(0.9,0.9);
    }

    .content-div{
        width: 100%;
        height: 100%;
    }

    .level{
        width: 90%;
        height: 100%;
        background-color: #F9BB0C;
        color: black;
        font-weight: bold;
        font-size: 16px;
        font-family: Dog;
        margin-top: 1px;
        border-radius: 5px;
        font-weight: 900;
        text-transform:uppercase;
        margin: auto;
    }

    .n{
        width: 90px;
        height: 100%;
        background-color: #D9490D;
        color: white;
        font-weight: bold;
        font-size: 14px;
        font-family: Dog;
        float: right;
        margin-right: 2px;
        margin-top: 1px;
        border-radius: 5px;
        text-transform:uppercase;
    }

    #message {
        border-radius: 8px;
        text-align: center;
        position: fixed;
        white-space: nowrap;
        background-color: #ffffff;
        box-shadow: 8px 8px 16px 0px #0c0c0c;
        padding: 16px;
        text-shadow: 1px 1px 2px #c0c0c0;
        top: 190px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .logoimg{
        width: 300px;
        height: 80px;
    }

    .complete {
        float: right;
        font-size: 24px;
        font-weight: bold;
        border-radius: 8px;
        background-color: #441a1a;
        color: #ffffff;
        text-shadow: 1px 1px 2px #000000;
        padding: 4px 64px 4px 64px;
        margin: 0px 16px 8px 16px;
    }

    .btn:hover{
        transition-duration: 0.5s;
        transform: scale(0.9,0.9);
    }

    .maindiv::-webkit-scrollbar {
        width:5px;
    }

    body::-webkit-scrollbar {
        width:5px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        box-shadow: inset 0 0 6px red;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 5px;
        box-shadow: inset 0 0 20px #F9BB0C;
    }

    .balance{
        text-decoration: none; 
        border: none;
        color: rgb(255, 187, 0);
        font-size: 20px;
        font-family: Dog;
        font-weight: bold;
    }

    .token{
        float: left;
        margin-left: 20px;
    }

    .lds-circle {
        display: flex;
        transform: translateZ(1px);
        justify-content: center;
    }

    .lds-circle > div {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin: 8px;
        border-radius: 50%;
        background: #D9490D;
        animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    @keyframes lds-circle {
        0%, 100% {
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
        }
        0% {
            transform: rotateY(0deg);
        }
        50% {
            transform: rotateY(1800deg);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
        }
        100% {
            transform: rotateY(3600deg);
        }
    }

    #loader{
        margin-top: 200px;
        width: 100%;
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #lvlloader{
        margin-top: 100px;
        width: 100%;
        display: inline-block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #lvlimg{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border:5px solid #D9490D;
    }
    .lvlimg:hover{
        transform: scaleX(-1);
    }

    .loadingText{
        text-align: center;
        font-size: 30px;
        color: white;
        font-weight: 800;
    }

    .rates{
        position: absolute;
        float: left;
        margin-top: 12px;
        margin-left: 40px;
        font-size: 30px;
    }

    .inc{
        border: 1px solid black;
        width: 30px;
        height: 20px;
        border-radius: 5px;
        font-family: Dog;
        font-size: 15px;
        color: black;
        font-weight: bold;
    }
       

@media only screen and (max-width: 700px) {
    
    .nav-items{
        left: 80px;
    }

    .nav-items li{
        margin-right: 40px;
    }

    .logoimg{
        width: 100px;
        height: 60px;
    }

    .btn{
        width: 70px;
        height: 30px;
        margin-left: -30px;
    }

    .blc{
        width: 15px;
    }

    .balance{
        margin-top: 10px;
        font-size: 14px;
        width: 120px;
    }

    .img{
        width: 25px;
        height: 25px;
    }

    .nav-container{
        height: 100px;
        background-color: rgb(27, 27, 27);
        width: 100%;
        float: right;
    }

    .stakeAllbtn{
        margin-left: auto;
        width: 100px;
        height: 30px;
    }

    .maindiv{
        margin-top: 80px;
    }

    .sidebar{
        width: 110px;
    }

    .itemwrapper {
        width: 200px;
    }

    .content_wrapper{
        width: 100%;
    }

    .main-content{
        width: 100%;
        height: 80%;
    }

    .main-content li{
        list-style: none;
    }

    .packimg {
        width: 200px;
        height: auto;
        padding: 5px;
    }

    .inc{
        border: 1px solid black;
        width: 35px;
        height: 30px;
        border-radius: 5px;
        font-family: Dog;
        font-size: 15px;
    }

    body{
        overflow-x: hidden;
    }
}
  




