* {
    box-sizing:border-box;
    margin: 0;
}

@font-face {
    font-family: Dog;
    src: url("./assets/Cryptopups-Regular.ttf");
}

body{
    font-family: Dog;
    overflow: scroll;
    overflow-y:visible;
    overflow-x: hidden;
    background-image: url("./assets/bg3.PNG");
    background-repeat:repeat-y;
    scroll-behavior: smooth;
}

.nav-container{
    position: absolute;
    height: 114px;
    background-color: transparent;
    z-index: 1;
    width: 100%;
}

.wrapper{
    left: 0px;
    top: 0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav ul{
    display: flex;
}

nav .logo{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    float: left;
    padding: 0px 10px;
}

.nav-items{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
}

.footer{
    order: 3;
    width: 100%;
    height: 100px;
    background: rgba(27,27,27,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;
    align-self: flex-end;
}

.footer-button{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.footer-button:hover{
    transition-duration: 0.5s;
    transform: scale(0.9,0.9);
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    height: 100px;
    font-size: 20px;
    gap: 15px;
    color: white;
}
.main-content{
    width: 100%;
    height: 90%;
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 115px;
}

.secondheader{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    top:20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.secondheader li{
    list-style: none;
}

.stakeAllbtn{
    text-align: center;
    width: 128px;
    height: 40px;
    border: 2px solid black;
}

.sortbtn{
    background-color: #E4A903;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 128px;
    height: 40px;
    margin: 0 80px;
    font-family: Dog;
    font-size: 14px;
    font-weight: 500;
}

.filterbtn{
    position: absolute;
    top:20px;
    width: 128px;
    height: 40px;
    float: right;
}

.collectonsbtn{
    display: table-cell; vertical-align: middle;
    background: rgba(27,27,27,0.5);
    border: 3px solid #E4A903;
    color: #E4A903;
    width: 98%;
    height:80px;
    font-family:Dog;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: table-cell; vertical-align: middle;
}

.collectonsbtn:hover{
    transition-duration: 0.5s;
    border: 1px solid rgba(255, 255, 255, 1);
    transform: scale(0.9,0.9);
}

.header-container{
    height: auto;
}


.content_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.maindiv{
    height:100%;
    width: 75%;
    position: absolute;
    font: 16px/26px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    margin-top: 10px;
}

.roadmapTitle{
    width: auto;
    height: 100px;
    order: 1;
}

.homediv{
    height:auto;
    min-height: calc(100% + 450px);
    width: 100%;
    top: 80px;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    pointer-events: none;
}

.tablecontainerShop {
    display: block;
    display: inline-block;
    width: 90%;
    height: auto;
}

.shopPaneldiv{
    padding-top:50px;
    position: absolute;
    height:auto;
    position: absolute;
    justify-content: center;
}

.whitepaperbtn{
    width: 350px;
    height: auto;
    margin-left: 68%;
    margin-top: -95px;
    pointer-events: auto;
    background-size: 100%;
    transform: rotate(-05deg);
}

.whitepaperbtn:hover{
    transition-duration: 0.5s;
    transform: scale(0.98,0.98);
}

.roadmap{
    padding-top: 50px;
    width: 100%;
    height: auto;
    order: 2;
}

#toast {
    position: fixed;
    text-transform: lowercase;
    top: 120px;
    right: 0px;
    background-size: 25% 45%;
    border-radius: 10px;
    background-color: #000000;
    color: #fff9f9;
    padding: 16px;
    z-index: 9;
}

#walletlist {
    position: relative;
    width: 300px;
    height: 250px;
    border-radius: 8px;
    white-space: nowrap;
    background-color: white;
    box-shadow: 8px 8px 16px 0px #000000;
    padding: 16px;
    text-shadow: 1px 1px 2px #c0c0c0;
    top: 100px;
    display: inline-block;
}

.itemwrapper {
    background-image: url("./assets/buttons/template2.png");
    width: 310px;
    height: 360px;
    align-items: center;
    font: 16px/26px Georgia, Garamond, Serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 2px;
    background-size: 100%;
    background-repeat:no-repeat;
}

.shopwrapper {
    background-image: url("./assets/buttons/template2.png");
    background-repeat:no-repeat;
    width: 400px;
    height: 500px;
    align-items: center;
    align-content: center;
    font: 16px/26px Georgia, Garamond, Serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 2px;
    background-size:100%;
}

.shoptablecontainer {
    display: block;
    display: inline-block;
    padding: 5px;
    margin-left: 3px;
    width: 400px;
    height: auto;
    text-align: center;
    font-size: 20px;
}

.tablecontainer {
    display: block;
    display: inline-block;
    padding: 5px;
    margin-left: 3px;
    width: 310px;
    height: 362px;
    text-align: center;
    font-size: 20px;
}

.close {
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    color:#2596be;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 5px;
    top: 1px;
}

.nftimg {
    width: 140px;
    height: auto;
    padding: 10px;
}

.shopnft{
    width: 140px;
    height: auto;
    margin-top: -20px;
}

.packimg {
    width: 230px;
    height: auto;
    padding: 10px;
}

.textcontainer{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:80px;
}

.textstyle {
    color: #eea88f;
    font-weight: bold;
    font-family: Dog;
    font-size: 18px;
    font-weight: bold;
}

.ratesText {
    margin-top: 10px;
    font-family: Dog;
    background-image: url("./assets/buttons/ratesTemplate1.png");
    height: 50px;
    width: 180px;
    color: #563209;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.ratediv {
    font-family: Dog;
    background-image: url("./assets/buttons/ratesTemplate1.png");
    width: 220px;
    height: 57px;
    background-size: 100%;
}

.wcw {
margin-top: 10px;
width: 100%;
}

.wcw:hover{
    transition-duration: 0.5s;
    transform: scale(1.1,1.1);
}

.anchor {
    margin-top: 10px;
    width: 100%;
}

.anchor:hover{
    transition-duration: 0.5s;
    transform: scale(1.1,1.1);
}

.scroll {
    overflow-y: scroll;
    height: 120px;
    width: 300px;
    margin: 10px 5px; padding: 5px;
    text-align: justify;
}

.topbar {
    width: 100%;
    height: 22px;
}

.bar {
    width: 100%;
    height: 45px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.shopbtn:hover{
    background-image: url("assets/buttons/shop_1_hover.png");
}


.returnbtn{
    width: 50px;
    height: 50px;
    margin: 40px;
    visibility: hidden;
}

.returnbtn:hover{
    width: auto;
    height: auto;
    background: url("./assets/back_hover.png");
}

.stkbtn{
    justify-content: center;
    background: url("./assets/buttons/stake1.png");
    margin-top: 10px;
    width: 110px;
    height: 70px;
    border: transparent;
    background-repeat: no-repeat;
    background-size: 90%;
}

.stkbtn:hover{
    transition-duration: 0.5s;
    background: url("./assets/buttons/stake_hover1.PNG");
    background-repeat: no-repeat;
    background-size: 90%;
}

.unstkbtn{
    justify-content: center;
    background: url("./assets/buttons/unstake1.png");
    margin-top: 10px;
    width: 110px;
    height: 70px;
    border: transparent;
    background-repeat: no-repeat;
    background-size: 90%;
}

.unstkbtn:hover{
    transition-duration: 0.5s;
    background: url("./assets/buttons/unstake_hover1.PNG");
    background-repeat: no-repeat;
    background-size: 90%;
}

.buybtn{
    margin-top: 10px;
    width: 110px;
    height: 50px;
    border-radius: 5px;
}

.buybtn:hover{
    transition-duration: 0.5s;
    transform: scale(0.9,0.9);
}

.shopPanelbtn{
    width: 270px;
    height: auto;
    cursor:pointer;
}

.shopPanelbtn:hover{
    transition-duration: 0.5s;
    transform: scale(0.9,0.9);
}

.team{
    width: 125%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

.levelbtn{
    width: 120px;
    height: 100%;
    background-color: #F9BB0C;
    color: black;
    border-radius: 5px;
    font-family: Dog;
    font-size: 16px;
    font-weight: bold;
    margin-right: 2px;
    margin-left: 5px;
    text-transform: uppercase;
}

.stakeall_btn:hover{
    background-image: url("./assets/stakeall_hover.PNG");
}

.homebtn{
    background: none;
    width: auto;
    height: 80px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    pointer-events: auto; 
}

.aboutusbtn{
    width: 300px;
    height: 120px;
    border-radius: 5px;
    border: none;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.barbtn{
    background: none;
    margin: 40px;
    width: 120px;
    height: 50px;
    color: black;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.barbtn:hover{
    transition-duration: 0.5s;
    transform: scale(1.1,1.1);
}

.levelbtn:hover{
    transition-duration: 0.5s;
    transform: scale(0.9,0.9);
}

.content-div{
    width: 100%;
    height: 100%;
}

.level{
    width: 90%;
    height: 100%;
    background-color: #F9BB0C;
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: Dog;
    margin-top: 1px;
    border-radius: 5px;
    font-weight: 900;
    text-transform:uppercase;
    margin: auto;
}

.n{
    width: 90px;
    height: 100%;
    background-color: #D9490D;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: Dog;
    float: right;
    margin-right: 2px;
    margin-top: 1px;
    border-radius: 5px;
    text-transform:uppercase;
}

#message {
    border-radius: 8px;
    text-align: center;
    position: fixed;
    white-space: nowrap;
    background-color: #ffffff;
    box-shadow: 8px 8px 16px 0px #0c0c0c;
    padding: 16px;
    text-shadow: 1px 1px 2px #c0c0c0;
    top: 190px;
    left: 50%;
    transform: translate(-50%, 0);
}

.logoimg{
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: auto;
}

.complete {
    float: right;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #441a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    padding: 4px 64px 4px 64px;
    margin: 0px 16px 8px 16px;
}

.btn:hover{
    transition-duration: 0.1s;
    transform: scale(1.2,1.2);
}

.maindiv::-webkit-scrollbar {
    width:5px;
}

body::-webkit-scrollbar {
    width:5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 6px red;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 20px #F9BB0C;
}

.balance{
    text-decoration: none; 
    border: none;
    color: rgb(255, 187, 0);
    font-size: 20px;
    font-family: Dog;
    font-weight: bold;
}

.token{
    float: left;
    margin-left: 20px;
}

.lds-circle {
    display: flex;
    transform: translateZ(1px);
    justify-content: center;
}

.lds-circle > div {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 8px;
    border-radius: 50%;
    background: #D9490D;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

#loader{
    margin-top: 100px;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#lvlloader{
    margin-top: 100px;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#lvlimg{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border:5px solid #D9490D;
}
.lvlimg:hover{
    transform: scaleX(-1);
}

.loadingText{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 800;
}

.rates{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: -15px;
    padding-top: 8.5px;
    font-size: 25px;
}

.btnpanel{
    width: auto;
    height: auto;
    min-height: auto;
    order: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    -ms-grid-column-align:start;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 18%;
    padding-bottom: 20%;
    background-image: url("./assets/buttons/homepage_template\ \(1\).png");
    background-size: 100%;
    background-repeat: no-repeat;
    place-items: center;
}

.qtycontainer{
    width: 150px;
    height: auto;
}

.inc{
    position: absolute;
    margin-top: 10px;
    font-family: Dog;
    height: auto;
    width: auto;
    text-align: center;
    background: transparent;
    border: none;
    color: #eea88f;
}

.parentdiv{
    margin-top: 10px;
    background-image: url("./assets/buttons/Incrementor1.PNG");
    width: 150px;
    height: 39px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-size: 100%;
}

.incrementor-text{
    width: 40px;
    padding: 5px;
    font-size: 18px;
    color: #563209;
    font-family: Dog;
}

.incrementor-btn{
    margin-top: 6px;
    width: 30px;
    height: 55%;
    border: none;
    background: transparent;
    z-index: 10;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }

.incrementor{
    margin-top: 10px;
    font-family: Dog;
    height: auto;
    width: 100px;
    color: incrementor-btn;
    text-align: center;
}

@media only screen and (max-width: 600px) and (min-width: 360px) {

body{
    overflow-x: auto;
}

.tablecontainerShop{
  margin: 0px 0px 0px -200px;
}

.nav-items{
    display: flex;
    justify-content: center;
    width: 135%;
    padding-left: 100px;
}
nav .li{
    list-style: none;
}

.logoimg{
    width: auto;
    height: 90px;
}


.btn{
    width: 70px;
    height: 30px;
}

.roadmapTitle{
    margin-top: 50px;
    width: 250px;
    height: 80px;
}

.roadmap{
    width: 110%;
    height: auto;
}

.barbtn{
    width: 100px;
    height: 40px;
    margin: 20px;
}

.blc{
    width: 15px;
}

.balance{
    margin-top: 10px;
    font-size: 14px;
    width: 120px;
}

.returnbtn{
    width: 40px;
    height: 40px;
    margin: 20px;
}

.homediv{
    width: 140%;
    height: auto;
}

.btnpanel{
    width: 83%;
    height: auto;
}

.homebtn{
    width: auto;
    max-width: 115px;
    height: auto;
    max-height: 82px;
}

.aboutusbtn{
    width: 80px;
    height: auto;
}

.img{
    width: 25px;
    height: 25px;
}

.stakeAllbtn{
    margin-left: 20px;
}

.maindiv{
    width: auto;
    justify-content: center;
    align-items: center;
}

.itemwrapper {
    width: auto;
}

.main-content{
    width: 100%;
    height: auto;
    margin-left: 80px;
}

.main-content li{
    list-style: none;
}

.packimg {
    width: 200px;
    height: auto;
    padding: 5px;
}

.inc{
    width: 35px;
    height: 30px;
    border-radius: 5px;
    font-family: Dog;
    font-size: 15px;
}

body{
    overflow-x: hidden;
    }
}
